#lightning-invoice-widget {
	--lightning-invoice-button-background-image: linear-gradient(#0186f1, #00447c);
	--lightning-invoice-button-text-color: hsl(0, 0%, 80%);


	--player-color: hsl(0, 0%, 10%);
	--dark-primary-color: hsl(0, 0%, 12.5%);
	--primary-color: hsl(0, 0%, 100%);
	--secondary-color: hsl(0, 0%, 20%);
	--tertiary-color: hsl(0, 0%, 22.5%);

	--primary-accent-color: rgb(32, 124, 93);
	--secondary-accent-color-light: #4284c2;
	--secondary-accent-color-dark: #000e5a;

	--accent-color-red: rgb(124, 32, 32);
	--accent-color-blue: rgb(66, 132, 194);

	--heading-color: hsl(0, 0%, 10%);

	--primary-text-color: hsl(0, 0%, 10%);
	--secondary-text-color: hsl(0, 0%, 15%);
	--tertiary-text-color: hsl(0, 0%, 80%);

	--icon-color: rgb(220, 220, 220);

	--border-color: hsl(0, 0%, 40%);

	--selected-primary-color: hsl(0, 0%, 85%);
	--selected-secondary-color: hsl(0, 0%, 90%);

	--hover-primary-color: hsl(0, 0%, 82.5%);
	--hover-secondary-color: hsl(0, 0%, 87.5%);

	--episode-background-color: hsl(0, 0%, 100%);
	--episode-card-color: hsl(191, 58%, 93%);
	--episode-card-selected: hsl(191, 58%, 85%);
	--episode-card-hover: hsl(191, 58%, 81%);

	--podcast-data-card-color: hsl(0, 0%, 5%);

	--player-card-color: hsl(168, 100%, 98%);
	--player-background-color: hsl(229, 22%, 10%);

	--menu-active-color: hsl(0, 0%, 20%);
	--menu-hover-color: hsl(0, 0%, 10%);
	--primary-button-color-light: rgb(100, 100, 100);
	--primary-button-color-dark: #000;

	--audio-progress-tracker: hsl(0, 0%, 40%);
	--audio-progress-handle: hsl(0, 0%, 90%);
	--audio-progress-elapsed: hsl(0, 0%, 90%);

	--column-width: 42rem;
	--column-margin-top: 4rem;

	--box-shadow: none;

	--primary-button-text-color: hsl(0, 0%, 90%);
	--primary-button-background-color: #00447c;
	--primary-button-background-image: linear-gradient(#0186f1, #00447c);

	--image-container-overlay-background-color: none;
	/* change to 333 for light mode */

	--mobile-player-background-color: hsl(0, 0%, 5%);
	--mobile-bottom-controls-background-color: hsl(0, 0%, 15%);
	--mobile-bottom-controls-border-color: transparent;

	--dropdown-box-shadow: 0px 0px 2px 2px hsl(0, 0%, 20%);

	--body-background-color: hsl(0, 0%, 5%);

	--spinner-color: hsl(0, 0%, 50%);

	--input-border-color: hsl(0, 0%, 90%);
	--input-background-color: transparent;

	--loading-text-color: hsl(0, 0%, 50%);
	width: 750px;
}
